shamefully-hoist=true
package-manager-strict=false

//http://18.167.68.54:4873/:_authToken=5NuluvpHwtQ4HzLYVGNpRddlqpJudoOulyE6Mcsq79Q
@synfutures:registry=http://18.167.68.54:4873/
@derivation-tech:registry=http://18.167.68.54:4873/
//18.167.68.54:4873/:_authToken="n90IrCpsZx1iUowgZauAgd+Y2V8eCUa95jHwo0adCRs="